/* Apply the blur effect to the entire page when the modal is open */
/* Smooth transition for blurring/unblurring */

@import url("./assets/styles/fonts.css"); /* Adjust path if needed */

.parallax {
  transition: transform 0.3s ease-out;
  will-change: transform;
}

.blurred {
  filter: blur(8px);
  transition: filter 0.3s ease-in-out;
}

.app-content {
  transition: filter 0.3s ease-in-out; /* Apply transition for smooth unblur effect */
}

/* Optional: Ensure the modal stays above the blurred content */
.overlay {
  background-color: rgba(255, 255, 255, 0.5); /* Dark overlay */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  z-index: 1000;
}

.close-modal-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2d2dff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal h2 {
  color: #1a1a72;
  font-weight: bold;
}

.guide-link {
  text-align: center;
  margin-top: 20px;
}

.guide-link-text {
  font-size: 1.5rem;
  color: white;
  text-decoration: underline;
}

.guide-link-text:hover {
  color: rgba(255, 255, 255, 0.8);
}

h1 {
  font-family: "Fashion Norsa", "Helvetica", sans-serif;
}
h2 {
  font-size: 2.5rem; /* Keep the SuiCity text large */
}
h2 {
  font-family: "Helvetica Bold", helvetica;
}

span {
  font-family: "Helvetica", sans-serif;
}

button {
  font-family: "Helvetica", sans-serif;
}
