@import url("./assets/styles/fonts.css"); /* Adjust path if needed */
/* Default connected background */
/* Default connected background */
/* Default connected background */
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  background-color: rgb(45, 45, 255); /* Base color */
  background-image: radial-gradient(
    circle,
    rgb(45, 45, 255, 0) 50%,
    rgb(0, 0, 105) 100%
  );
  color: white;
  transition: background-color 1s ease-in-out; /* Smooth transition on background-color */
}

/* Background when wallet is not connected */
body.disconnected {
  background-color: rgb(0, 4, 54); /* Transition to this color smoothly */
  background-image: radial-gradient(
    circle,
    rgba(1, 6, 83, 1, 0) 50%,
    rgb(0, 0, 62) 100%
  );
}
