@import url("./assets/styles/fonts.css"); /* Adjust path if needed */

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-weight: bold; /* Make all Helvetica text bold */
  background-color: rgba(31, 33, 192); /* Middle dark blue */
  color: white;
}
