@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.game-container {
  background-color: white;
  color: rgb(0, 0, 0, 0.8);
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  width: 60%;
  height: 85vh;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 20px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background-size: 110%; /* Zoom in the background */
  background-position: center;
  transition: background-position 0.5s ease-in-out; /* Smooth movement */
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.game-container h2 {
  color: rgb(0, 0, 0, 0.8);
  font-size: 200%;
  margin: 0%;
}

.game-container h3 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.upper-div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5% 1%;

  width: 100%;
  box-sizing: border-box;
  border-radius: 2px 2px 0px 0px;
  color: white;
  z-index: 1;
}

.nft-title {
  position: absolute;
  left: 2%;
  top: 0%;
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
  width: 20%;

  /* Border */
  border-radius: 0px 0px 12px 12px; /* Rounded corners for a playful, friendly look */

  /* Box Shadow */
  box-shadow: 5px 5px 0px #200c00, 5px 5px 10px rgba(0, 0, 0, 0.25); /* Slight 3D effect with a shadow */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */

  /* Padding and Spacing */
  text-align: center; /* Center text within the div */

  /* Transition for hover effect */
  transition: transform 0.2s ease-in-out;
  padding: 1%;
}

.nft-title h2 {
  color: rgb(0, 0, 0);
  font-size: 150%;

  text-align: center;
  margin: 0;
}

.nft-specs {
  position: absolute;
  right: 2%;
  top: 0%;
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
  width: 14%;

  /* Border */
  border-radius: 0px 0px 12px 12px; /* Rounded corners for a playful, friendly look */

  /* Box Shadow */
  box-shadow: 5px 5px 0px #200c00, 5px 5px 10px rgba(0, 0, 0, 0.25); /* Slight 3D effect with a shadow */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */

  /* Padding and Spacing */
  text-align: justify; /* Center text within the div */
  padding: 0.5%;
  box-sizing: border-box;
  /* Transition for hover effect */
  transition: transform 0.2s ease-in-out;
  z-index: 10;
}

.nft-specs h2,
.accumulated h2,
.population h2 {
  display: flex;
  align-items: center; /* Align items vertically */
}

.nft-specs h2 img,
.accumulated h2 img,
.population h2 img {
  margin-left: 5px; /* Space between text and icon */
}

.accumulated h2,
.population h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accumulated h2 img,
.population h2 img {
  margin-left: 5px; /* Space between text and icon */
}
.nft-specs p {
  color: rgb(0, 0, 0);
  font-size: 80%;

  text-align: justify; /* Center text within the div */
  margin: 0;
}

.nft-specs h2 {
  font-size: 120%;
}

.balance-columns {
  position: absolute;
  right: 16.5%;
  top: 0;
  font-size: 100%;
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
  width: 20%;
  color: rgb(29, 29, 29);

  /* Border */
  border-radius: 0px 0px 0px 12px; /* Rounded corners for a playful, friendly look */

  /* Box Shadow */
  box-shadow: 5px 5px 0px #200c00, 5px 5px 10px rgba(0, 0, 0, 0.25); /* Slight 3D effect with a shadow */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */

  /* Padding and Spacing */
  text-align: center; /* Center text within the div */

  /* Transition for hover effect */
  transition: transform 0.2s ease-in-out;
  padding: 1%;
}
.balance-bar {
  display: flex;
  align-items: center;
  margin: 5px 0;
  width: 100%;
}

.balance-bar-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.balance-bar-track {
  border-radius: 4px;
  width: 100%;
  height: 25px;
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 255, 0.6);
  box-shadow: 3px 3px 0px #200c00, 5px 5px 10px rgba(0, 0, 0, 0.25); /* Slight 3D effect with a shadow */
}

.balance-bar-fill {
  height: 100%;
  transition: width 0.4s ease;
}

.balance-bar-fill-sui {
  background-color: #00b3ff; /* SUI color */
}

.balance-bar-fill-sity {
  background-color: #0055b3; /* SITY color */
}

.balance-amount {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(29, 29, 29);
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 90%;
}

.upper-div button {
  flex: 0.1; /* Allows the button to occupy space on the right */
  display: flex;
  justify-content: flex-end; /* Align the button to the right */
}

.upper-div button {
  cursor: pointer;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.building-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Keep the buttons and info on top of the image */
}

.building-info {
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 8px;
  z-index: 20;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  color: rgb(29, 29, 29);
  border: none;
  cursor: pointer;
  z-index: 20;
  font-size: 200%;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 5px 5px 0px #200c00, 5px 5px 10px rgba(0, 0, 0, 0.25); /* Slight 3D effect with a shadow */
  transition: all 0.1s ease-in-out;
  padding: 5px;
  box-sizing: border-box;
}

.arrow-left {
  left: 5%;
}

.arrow-right {
  right: 5%;
}

.arrow-left:hover,
.arrow-right:hover {
  top: 51%;
}

.buildingType {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);

  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
  color: rgb(29, 29, 29);

  /* Border */
  border-radius: 12px 12px 0px 0px; /* Rounded corners for a playful, friendly look */

  /* Box Shadow */
  box-shadow: 5px 5px 0px #200c00, 5px 5px 10px rgba(0, 0, 0, 0.25); /* Slight 3D effect with a shadow */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  padding: 0.5%;
  width: 45%;
  text-align: center;
  min-height: 15%;
  max-height: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Use Flexbox to align content vertically */
  justify-content: space-between; /* Space between the content and the button */
  z-index: 10;

  transition: all 0.5s ease-in-out; /* Smooth transition */
}

.buildingType.expanded {
  min-height: 60%;
  max-height: 76%;
}

.buildingType.collapsed {
  min-height: 15%;
  max-height: 20%;
}
/* Zoom the building images by 30% when in expanded view */
.building-image img {
  width: 80%; /* Default image size */
  height: auto;
  transition: transform 0.3s ease-in-out; /* Smooth zoom transition */
}
.building-image-zoom {
  transform: scale(1.7); /* Zoom in by 30% */
}
.level-arrow {
  font-size: 30px;
  color: gray;
  margin: 0 15px; /* Adjust spacing between images */
}
/* Level Text Styling */
.level-text {
  margin-top: 5px;
}

/* Additional styling for expanded view */
.buildingType.expanded .building-images {
  display: flex;
  justify-content: center;
  flex-direction: row; /* Stack images vertically */
  align-items: center;
  margin-bottom: 10px; /* Add space between images and benefit text */
}

.building-images {
  width: 100%;
  text-align: center;
}
.benefit-text {
  font-family: "Helvetica", sans-serif;
  color: #ffffff;
  background: linear-gradient(135deg, #6d83f2, #4e54c8);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.benefit-description {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.benefit-value {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.benefit-next {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #ffeb3b;
}

.next-level {
  color: #ffeb3b;
  font-size: 18px;
  font-weight: bold;
}

.buildingType h2 {
  font-size: 250%;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buildingType p {
  color: rgb(29, 29, 29);
  margin: 0;
  font-size: 100%;
  line-height: 1.3;
}

.buildingType button {
  align-self: center; /* Center the button horizontally */
  margin-top: auto; /* Push the button to the bottom */
  margin-bottom: 2%;
  width: 90%;
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
  padding: 0.5%;
  font-size: 120%;
  box-shadow: 5px 5px 0px #200c00, 5px 5px 10px rgba(0, 0, 0, 0.25); /* Slight 3D effect with a shadow */
  transition: all 0.1s ease-in-out;
}

.buildingType button:hover {
  cursor: pointer;
  transform: translateY(3px);
}

.accumulated {
  position: absolute; /* Keep it absolutely positioned relative to the game container */
  bottom: 0%; /* Align it to the bottom */
  left: 2%; /* Adjust the horizontal positioning as needed */
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
  color: rgb(29, 29, 29);

  /* Border */
  border-radius: 12px 12px 0px 0px; /* Rounded corners for a playful, friendly look */

  /* Box Shadow */
  box-shadow: 5px 5px 0px #200c00, 5px 5px 10px rgba(0, 0, 0, 0.25); /* Slight 3D effect with a shadow */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  padding: 0.5%;
  text-align: center;
  width: 25%;
  min-height: 13%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Use Flexbox to align content vertically */
  justify-content: space-between; /* Space between the content and the button */
  z-index: 9;
}

.accumulated button {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */

  align-self: center; /* Center the button horizontally */
  margin-top: auto; /* Push the button to the bottom */
  margin-bottom: 2%;
  width: 90%;
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
  padding: 0.5%;
  font-size: 120%;
  box-shadow: 5px 5px 0px #200c00, 5px 5px 10px rgba(0, 0, 0, 0.25); /* Slight 3D effect with a shadow */
  transition: all 0.1s ease-in-out;
}

.accumulated p {
  color: rgb(29, 29, 29);
  margin: 0;
  font-size: 100%;
  line-height: 1.3;
}

.accumulated h2 {
  display: inline-block; /* Ensure the background fits the h2 text */
  font-weight: bold; /* Optional: Make the text bold */
  color: rgb(29, 29, 29);
  font-size: 180%;
}

.accumulated button:hover {
  cursor: pointer;
  transform: translate(0, 3px);
}

.population {
  position: absolute;
  bottom: 0%;
  right: 2%;
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  color: rgb(29, 29, 29);

  /* Border */
  border-radius: 12px 12px 0px 0px; /* Rounded corners for a playful, friendly look */

  /* Box Shadow */
  box-shadow: 5px 5px 0px #200c00, 5px 5px 10px rgba(0, 0, 0, 0.25); /* Slight 3D effect with a shadow */
  padding: 0.5%;
  text-align: center;
  width: 25%;
  min-height: 13%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Use Flexbox to align content vertically */
  justify-content: space-between; /* Space between the content and the button */
  z-index: 9;
}

.population p {
  color: rgb(29, 29, 29);
  margin: 0;
  font-size: 100%;
  line-height: 1.3;
}

.population button {
  align-self: center; /* Center the button horizontally */
  margin-top: auto; /* Push the button to the bottom */
  margin-bottom: 2%;
  width: 90%;
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
  padding: 0.5%;
  font-size: 120%;
  box-shadow: 5px 5px 0px #200c00, 5px 5px 10px rgba(0, 0, 0, 0.25); /* Slight 3D effect with a shadow */
  transition: all 0.1s ease-in-out;
}

.population button:hover {
  cursor: pointer;
  transform: translate(0, 3px);
}

.population p {
  color: rgb(29, 29, 29);
  margin: 0;
  font-size: 100%;
  line-height: 1.3;
}

.population h2 {
  display: inline-block; /* Ensure the background fits the h2 text */
  font-weight: bold; /* Optional: Make the text bold */
  color: rgb(29, 29, 29);
  font-size: 160%;
}
.pleaseConnect {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
  padding: 1%;
  font-size: 80%;
  box-shadow: 5px 5px 0px #200c00, 5px 5px 10px rgba(0, 0, 0, 0.25); /* Slight 3D effect with a shadow */
  border-radius: 12px;
  font-weight: 700;
  color: rgb(26, 26, 26);
  transition: all 0.1s ease-in-out;
  letter-spacing: 1.5px;
  backdrop-filter: blur(10px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}
.mint button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(
    255,
    255,
    255,
    0.905
  ); /* Semi-transparent background */
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
  padding: 1%;
  font-size: 200%;
  box-shadow: 5px 5px 0px #200c00, 5px 5px 10px rgba(0, 0, 0, 0.25); /* Slight 3D effect with a shadow */
  border-radius: 12px;
  font-weight: 600;
  color: rgb(26, 26, 26);
  transition: all 0.1s ease-in-out;
  letter-spacing: 1.5px;
}

.mint button:hover {
  cursor: pointer;
  top: 51%;
}

/* Apply Kanit for Titles (h1, h2, etc.) */
.game-container h2,
.buildingType h2,
.accumulated h2,
.population h2 {
  font-family: "Kanit", cursive;
  font-weight: 500;
}

.game-container h3 {
  font-family: "Kanit", cursive;
  font-weight: 300;
}

/* Apply Kanit One for Paragraphs (p) */
button,
p,
.buildingType p,
.accumulated p,
.population p {
  font-family: "Kanit", cursive;
  font-weight: 200;
}
.acc-icon {
  filter: drop-shadow(2px 2px 10px rgba(0, 128, 0, 0.65));
}

.gear-icon {
  filter: drop-shadow(1px 1px 5px rgba(255, 0, 0, 0.65));
}

.star-icon {
  filter: drop-shadow(1px 1px 5px rgba(45, 157, 255, 0.65));
}

.coin-icon {
  filter: drop-shadow(1px 1px 5px rgba(255, 255, 0, 0.65));
}

.people-icon {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 255, 0.65));
}

@media (max-width: 1920px) {
  .accumulated h2 {
    font-size: 130%;
  }

  .population h2 {
    font-size: 130%;
  }

  .buildingType h2 {
    font-size: 200%;
  }

  .nft-specs h2 {
    font-size: 100%;
  }

  .nft-specs p {
    font-size: 70%;
  }

  .nft-title {
    width: 25%;
  }

  .nft-specs {
    width: 18%;
  }

  .balance-columns {
    right: 20.5%;
  }
}

@media (max-width: 1440px) {
  .buildingType h2 {
    font-size: 170%;
  }

  .accumulated h2 {
    font-size: 120%;
  }

  .population h2 {
    font-size: 120%;
  }

  .accumulated p {
    font-size: 100%;
  }

  .population p {
    font-size: 100%;
  }

  .buildingType p {
    font-size: 100%;
  }

  .balance-amount {
    font-size: 80%;
  }

  .population button {
    font-size: 90%;
  }
  .accumulated button {
    font-size: 90%;
  }
  .buildingType button {
    font-size: 90%;
  }
}

@media (max-width: 1024px) {
  .game-container {
    width: 85%;
    background-size: 120%;
  }

  .upper-div h2 {
    font-size: 150%;
  }

  .buildingType h2 {
    font-size: 180%;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Break long words onto the next line if needed */
    word-break: break-word; /* Ensure long words will break correctly */
  }

  .accumulated h2 {
    font-size: 120%;
  }

  .population h2 {
    font-size: 120%;
  }

  .nft-specs h2 {
    font-size: 80%;
  }

  .buildingType {
    min-height: 25%;
    max-height: 30%;
  }

  .buildingType.collapsed {
    min-height: 25%;
    max-height: 30%;
  }

  .buildingType.expanded {
    min-height: 60%;
    max-height: 70%;
  }

  .population {
    min-height: 20%;
    max-height: 25%;
  }

  .accumulated {
    min-height: 20%;
    max-height: 25%;
  }
}

@media (max-width: 768px) {
  .arrow-left,
  .arrow-right {
    font-size: 100%;
    border-radius: 4px;
  }

  .game-container {
    width: 95%;
    background-size: 180%;
    transition: background-position 0s ease-in-out; /* Smooth movement */
    touch-action: none; /* Prevent the default scroll/pinch/zoom behavior */
    overflow: hidden; /* Ensure no scrolling is allowed */
  }

  .balance-columns {
    width: 20%;
    right: 24.5%;
  }
  .nft-title {
    width: 30%;
  }

  .connectButton {
    left: 30%;
    width: 20%;
  }

  .nav-links {
    right: 30%;
  }

  .nft-specs {
    width: 22%;
  }
}

@media (max-width: 600px) {
  .game-container {
    width: 100%;
    background-size: 200%;
    height: 85vh;
    margin-top: 1vh;
  }
  .nft-title {
    left: 0%;
    width: 40%;
    border-radius: 0px 0px 12px 0px;
  }
  .upper-div h2 {
    font-size: 120%;
  }

  .balance-columns {
    right: 0%;
    width: 40%;
    border-radius: 0px 0px 0px 12px;
  }

  .accumulated {
    left: 0%;
  }
  .buildingType {
    width: 48%;
  }

  .population {
    right: 0%;
  }

  .suicity-title {
    font-size: 2rem;
  }

  .logo-title-container {
    top: 30%;
  }

  .nav-links {
    display: none;
  }

  .navbar {
    height: 8vh;
  }

  .connectButton {
    transform: translate(-50%, -50%);
    left: 50%;
    width: 50%;
    top: 70%;
    box-sizing: border-box;
    padding: 0%;
    justify-content: center;
  }

  .nft-specs {
    left: 0%;
    width: 35%;
    top: 60px;
    border-radius: 0px 12px 12px 0px;
  }

  .nft-specs h2 {
    font-size: 100%;
  }
}

@media (max-width: 425px) {
  .game-container {
    box-shadow: 4px 8px 0px rgba(0, 0, 0, 0.4);
  }
  .accumulated p {
    font-size: 70%;
  }
  .population p {
    font-size: 70%;
  }
  .buildingType p {
    font-size: 70%;
  }

  .accumulated h2 {
    font-size: 80%;
  }

  .population h2 {
    font-size: 80%;
  }

  .nft-title h2 {
    font-size: 90%;
  }

  .balance-amount {
    font-size: 80%;
  }

  .mint button {
    font-size: 150%;
  }
}

@media (max-width: 425px) {
  .arrow-left,
  .arrow-right {
    font-size: 150%;
    border-radius: 2px;
  }
  .buildingType h2 {
    font-size: 130%;
    overflow: visible;
    text-overflow: initial;
  }
  .accumulated h2 {
    font-size: 100%;
  }
  .population h2 {
    font-size: 100%;
  }
  .nft-specs {
    top: 70px;
  }
  .nft-specs p {
    font-size: 60%;
  }

  .nft-specs h2 {
    font-size: 90%;
  }

  .buildingType button {
    width: 80%;
    font-size: 80%;
    margin-bottom: 10%;
  }
  .accumulated button {
    width: 80%;
    font-size: 80%;
    margin-bottom: 10%;
  }
  .population button {
    width: 80%;
    font-size: 80%;
    margin-bottom: 10%;
  }

  .buildingType {
    min-height: 20%;
  }

  .buildingType.collapsed {
    min-height: 20%;
  }

  .accumulated {
    min-height: 18%;
  }

  .population {
    min-height: 18%;
  }

  .accumulated p {
    font-size: 80%;
  }

  .buildingType p {
    font-size: 80%;
  }

  .population p {
    font-size: 80%;
  }
}
