.game-container {
  background-color: white;
  color: rgb(0, 0, 0, 0.8);
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  width: 80%;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 20px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  margin-bottom: 60px;
  box-sizing: border-box;
  margin-top: 1%;
  overflow: hidden;
  background-size: 105%; /* Zoom in the background */
  background-position: center;
  transition: background-position 0.8s ease-in-out; /* Smooth movement */
}

.game-container h2 {
  color: rgb(0, 0, 0, 0.8);
  text-shadow: 2px 4px 60px rgba(0, 0, 0, 0.3);
  font-size: 200%;
  margin: 0%;
}

.game-container h3 {
  text-shadow: 2px 4px 60px rgba(0, 0, 0, 0.3);
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.upper-div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5% 1%;
  background-color: rgba(0, 0, 0, 0.4); /* Add some transparency */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari-specific blur effect */
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px 2px 0px 0px;
  font-size: 1rem;
  color: white;
  z-index: 1;
}

.upper-div h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 0;
  color: white;
  font-size: 300%;
}

.balance-columns {
  text-align: right;
  margin-left: 10%;
}

.balance-sity {
  color: hsl(0, 0%, 100%);
  font-size: 100%;
  text-align: left;
  font-family: "Helvetica Bold";
}

.balance-sui {
  color: hsl(205, 100%, 67%);
  font-size: 100%;
  font-family: "Helvetica Bold";
  text-align: left;
}

.upper-div button {
  flex: 0.1; /* Allows the button to occupy space on the right */
  display: flex;
  justify-content: flex-end; /* Align the button to the right */
}

.upper-div button {
  cursor: pointer;
}

.Text_textVariants_mono_true__2bv1ur7 {
  font-family: "Helvetica Light", "Helvetica", Helvetica !important;
}

.AccountDropdownMenu_connectedAccount__div2ql0 {
  padding: 1% !important;
  border-radius: 8px;
}

.WalletList_container__1v2s6cz0 {
  cursor: pointer !important;
}

.Button_buttonVariants_size_lg__x1s81q4 {
  font-size: 1rem !important;
  color: rgb(0, 0, 0, 0.8) !important;
  margin-right: 10% !important;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.building-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Keep the buttons and info on top of the image */
}

.building-info {
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 8px;
  z-index: 20;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  color: white;
  border: none;
  cursor: pointer;
  z-index: 20;
  font-size: 3rem;
  border-radius: 20%;
  cursor: pointer;
}

.arrow-left {
  left: 5%;
}

.arrow-right {
  right: 5%;
}

.buildingType {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);

  color: white;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border-radius: 8px; /* Optional: Rounded corners */
  padding: 0.5%;
  width: 35%;
  text-align: center;
  height: 15%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Use Flexbox to align content vertically */
  justify-content: space-between; /* Space between the content and the button */
}

.buildingType h2 {
  display: inline-block; /* Ensure the background fits the h2 text */
  font-weight: bold; /* Optional: Make the text bold */
  color: white;
}

.buildingType p {
  color: white;
  margin: 0;
  font-size: 100%;
  line-height: 1.3;
}

.buildingType button {
  align-self: center; /* Center the button horizontally */
  margin-top: auto; /* Push the button to the bottom */
  width: 100%;
  border-radius: 2px;
  font-family: "Helvetica Light", Helvetica;
  border: none;
  box-sizing: border-box;
  padding: 0.5%;
  font-size: 120%;
}

.buildingType button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  cursor: pointer;
}

.accumulated {
  position: absolute; /* Keep it absolutely positioned relative to the game container */
  bottom: 5%; /* Align it to the bottom */
  left: 20%; /* Adjust the horizontal positioning as needed */
  transform: translate(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border-radius: 8px; /* Optional: Rounded corners */
  padding: 0.5%;
  text-align: center;
  width: 20%;
  height: 15%; /* Let the height adjust based on the content */
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Use Flexbox to align content vertically */
  justify-content: space-between; /* Space between the content and the button */
}

.accumulated button {
  align-self: center; /* Center the button horizontally */
  margin-top: auto; /* Push the button to the bottom */
  width: 100%;
  border-radius: 2px;
  font-family: "Helvetica Light", Helvetica;
  border: none;
  box-sizing: border-box;
  padding: 0.5%;
  font-size: 120%;
}

.accumulated p {
  color: white;
  margin: 0;
  font-size: 100%;
  line-height: 1.3;
}

.accumulated h2 {
  display: inline-block; /* Ensure the background fits the h2 text */
  font-weight: bold; /* Optional: Make the text bold */
  color: white;
}

.accumulated button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  cursor: pointer;
}

.population {
  position: absolute;
  bottom: 5%;
  right: 0%;
  transform: translate(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border-radius: 8px; /* Optional: Rounded corners */
  padding: 0.5%;
  text-align: center;
  width: 20%;
  height: 15%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Use Flexbox to align content vertically */
  justify-content: space-between; /* Space between the content and the button */
}

.population p {
  color: white;
  margin: 0;
  font-size: 100%;
  line-height: 1.3;
}

.population button {
  align-self: center; /* Center the button horizontally */
  margin-top: auto; /* Push the button to the bottom */
  width: 100%;
  border-radius: 2px;
  font-family: "Helvetica Light", Helvetica;
  border: none;
  box-sizing: border-box;
  padding: 0.5%;
  font-size: 120%;
}

.population button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  cursor: pointer;
}

.population p {
  color: white;
  margin: 0;
  font-size: 100%;
  line-height: 1.3;
}

.population h2 {
  display: inline-block; /* Ensure the background fits the h2 text */
  font-weight: bold; /* Optional: Make the text bold */
  color: white;
}

.mint button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  color: white;
  border: none;
  cursor: pointer;

  font-size: 300%;
  padding: 0.5rem 1rem;

  border-radius: 4px;
}

.mint button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
}

@media (max-width: 1920px) {
  .upper-div h2 {
    font-size: 200%;
  }

  .buildingType h2 {
    font-size: 150%;
  }

  .accumulated h2 {
    font-size: 150%;
  }

  .population h2 {
    font-size: 150%;
  }
}

@media (max-width: 1024px) {
  .upper-div h2 {
    font-size: 150%;
  }

  .buildingType h2 {
    font-size: 120%;
  }

  .accumulated h2 {
    font-size: 120%;
  }

  .population h2 {
    font-size: 120%;
  }

  .population button {
    font-size: 100%;
  }

  .accumulated button {
    font-size: 100%;
  }

  .buildingType button {
    font-size: 100%;
  }
}

@media (max-width: 768px) {
  .game-container {
    width: 90%;
    height: 80vh;
  }
}

@media (max-width: 425px) {
  .upper-div h2 {
    font-size: 120%;
  }

  .game-container {
    width: 100%;
    height: 80vh;
    border-radius: 0;
    background-size: 200%;
    box-shadow: 4px 8px 0px rgba(0, 0, 0, 0.4);
  }
  .balance-columns {
    margin-left: 0;
  }

  .balance-sui,
  .balance-sity {
    font-size: 80%;
  }

  .Button_buttonVariants_size_lg__x1s81q4 {
    margin-right: 0% !important;
    font-size: 80% !important;
  }

  .population button {
    font-size: 80%;
  }

  .accumulated button {
    font-size: 80%;
  }

  .buildingType button {
    font-size: 80%;
  }

  .buildingType h2 {
    font-size: 100%;
  }

  .accumulated h2 {
    font-size: 100%;
  }

  .population h2 {
    font-size: 100%;
  }

  .accumulated {
    left: 15%;
  }

  .population {
    right: -5%;
  }
}
