.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Smooth fade effect */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

/* Background colors based on the 'bgColor' prop */
.bg-red {
  background-color: rgba(90, 0, 0, 0.2); /* Dark Red */
}

.bg-green {
  background-color: rgba(0, 120, 0, 0.2); /* Dark Green */
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.2); /* Dark Black */
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
  min-width: 20%;
  border-radius: 12px; /* Rounded corners */
  box-shadow: 5px 5px 0px #200c00, 5px 5px 10px rgba(0, 0, 0, 0.25); /* 3D effect */
  backdrop-filter: blur(10px);
  padding: 0.2% 0.4%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Smooth fade effect */
  z-index: 1000;
}

/* Fade-in class for modal */
.fade-in {
  opacity: 1;
  visibility: visible;
}

/* Fade-out class for modal */
.fade-out {
  opacity: 0;
  visibility: hidden;
}

/* Text and button styles */
.modal-content p {
  font-family: "Kanit";
  font-weight: 300;
  font-size: 120%;
  text-align: left;
}

.modal-content button {
  border: none;
  background-color: #151515;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 25%;
  height: 60%;
  font-size: 90%;
  padding: 1%;
}

.modal-content button:hover {
  background-color: #000000;
  transform: translateY(2px);
}

@media (max-width: 1024px) {
  .modal-content {
    left: 50%;
    width: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-content p {
    font-size: 100%;
  }
}
